<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="book.mapper.BookMapper"> 
	<!-- 1건 조회 혹은 전체목록 조회 쿼리 -->
	<select id="select" parameterType="Book" resultType="Book">
		SELECT b.book_seq
			 , b.isbn
			 , b.title
			 , b.author
			 , b.content
			 , b.company_cd
			 , b.company_nm
			 , b.totalpage
			 , b.price
			 , b.quantity
			 , b.reg_id
			 , b.reg_date
			 , b.mod_id
			 , b.mod_date
		  FROM v_book b
		  <if test="bookSeq != null">
		 WHERE b.book_seq = #{bookSeq}
		  </if>
	</select>
	
	<!-- 출판사 코드로 도서 검색 -->
	<select id="searchByCompantCd" parameterType="Code" resultType="Book">
		SELECT b.book_seq
			 , b.isbn
			 , b.title
			 , b.author
			 , b.content
			 , b.company_cd
			 , b.company_nm
			 , b.totalpage
			 , b.price
			 , b.quantity
			 , b.reg_id
			 , b.reg_date
			 , b.mod_id
			 , b.mod_date
		  FROM v_book b
		 WHERE b.company_cd = ${code}
	</select>
	
	<!-- 일정 가격 이하 도서 검색 -->
	<select id="searchByBelowPrice" parameterType="int" resultType="Book">
		SELECT b.book_seq
			 , b.isbn
			 , b.title
			 , b.author
			 , b.content
			 , b.company_cd
			 , b.company_nm
			 , b.totalpage
			 , b.price
			 , b.quantity
			 , b.reg_id
			 , b.reg_date
			 , b.mod_id
			 , b.mod_date
		  FROM v_book b
		 WHERE b.price <![CDATA[<=]]> #{value}
	</select>
	
	<!-- 가격 범위 도서 검색 -->
	<select id="searchByPrice" parameterType="map" resultType="Book">
		SELECT b.book_seq
			 , b.isbn
			 , b.title
			 , b.author
			 , b.content
			 , b.company_cd
			 , b.company_nm
			 , b.totalpage
			 , b.price
			 , b.quantity
			 , b.reg_id
			 , b.reg_date
			 , b.mod_id
			 , b.mod_date
		  FROM v_book b
		 WHERE b.price BETWEEN #{min} AND #{max}
	</select>
	
	<select id="serchByOverPrice" parameterType="int" resultType="Book">
		SELECT b.book_seq
			 , b.isbn
			 , b.title
			 , b.author
			 , b.content
			 , b.company_cd
			 , b.company_nm
			 , b.totalpage
			 , b.price
			 , b.quantity
			 , b.reg_id
			 , b.reg_date
			 , b.mod_id
			 , b.mod_date
		  FROM v_book b
		 WHERE b.price <![CDATA[>=]]> #{value}
	</select>
	
	<!-- 제목, 저자, 출판사명 종합 조회 -->
	<select id="searchByAll" parameterType="string" resultType="Book">
		SELECT b.book_seq
		     , b.isbn
		     , b.title		     
		     , b.author
		     , b.content	     
		     , b.company_cd
		     , b.company_nm	     
		     , b.total_page
		     , b.price		     
		     , b.quantity
		     , b.reg_id		     
		     , b.reg_date
		     , b.mod_id		     
		     , b.mod_date
		  FROM v_book b 
		 WHERE b.title LIKE '%' || #{value} || '%'
		    OR b.author LIKE '%' || #{value} || '%'
		    OR b.content LIKE '%' || #{value} || '%'
		    OR b.company_nm LIKE '%' || #{value} || '%'
	</select>
	
		<!-- 도서 정보 1건 입력 -->		
	<insert id="insert" parameterType="map">
		INSERT INTO BOOK 
		   ( BOOK_SEQ
		   , ISBN
		   , TITLE
		   , AUTHOR
		   , CONTENT
		   , COMPANY_CD
		   , TOTAL_PAGE
		   , PRICE
		   , QUANTITY
		   , REG_ID)
	    VALUES 
	       ( SEQ_BOOK.NEXTVAL
	       , #{isbn}
	       , #{title}
	       , #{author}
	       , #{content}
	       , #{companyCd}
	       , #{totalPage}
	       , #{price}
	       , #{quantity}
	       , #{regId})
	</insert>
	
	<!-- 도서 정보 1건 수정 -->
	<update id="update" parameterType="map">
		UPDATE BOOK b
		   SET b.isbn = #{isbn}
		     , b.title = #{title}
		     , b.author = #{author}
		     , b.content = #{content}
		     , b.company_cd = #{companyCd}
		     , b.total_page = #{totalPage}
		     , b.price = #{price}
		     , b.quantity = #{quantity}
		     , b.mod_id = #{modId} 
		     , b.mod_date = SYSDATE
		 WHERE b.book_seq = #{bookSeq}
	</update>
	
	<delete id="delete" parameterType="Code">
		DELETE BOOK b
 		 WHERE b.BOOK_SEQ = #{value}
	</delete>
	
	<!-- 도서 1건 존재 여부 검색 -->
	<select id="isExists" parameterType="Book" resultType="integer">
		SELECT b.book_seq
		  FROM book b
		 WHERE b.book_seq = #{bookSeq}
	</select>
</mapper>
